<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Connect Four</title>
  <script src="static/script.js"></script>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
  <h1>Connect Four</h1>
  <p id="prompt"></p> <!-- Filled in by the server -->
  <canvas id="gameBoard" width="0" height="0"></canvas> <!-- Drawn by script.js and has an event listener for clicks. -->
  <br></br>
  <button type="button" id="newGameButton">New Game</button>
</body>
</html>
